.card{
    border:none;
    box-shadow: 5px 5px 10px gray;
}



.w-5{
    padding: 10px;
    border-radius: 20%;
}
body{
    position: relative;
}
.bi-arrow-up-circle{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 3rem;
}

